body{
    margin: 0;
    background: rgb(37, 37, 39);
    text-align: center;
    color: rgb(199, 195, 195);
    
    
}
li a{
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}
ul{
  
  list-style-type: none;
  margin: 0;
  padding: 0; 
  width: 25%;
  background-color: #555454;
  height: 100%;
  position: fixed;
  overflow: auto;
}